
/* SASS declarations */
$meinnovation-magenta: #ff4081;
$meinnovation-teal: #4dd0e1;

@font-face {
    font-family: 'EntypoRegular';
    src: url('../../fonts/entypo.eot');
    src: url('../../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/entypo.woff') format('woff'),
         url('../../fonts/entypo.ttf') format('truetype'),
         url('../../fonts/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* General */
body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 20px;
  z-index: 500;
  background: url('../img/future-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

header {
  position: fixed;
  top: 0;
  z-index: 9999;
}

#melogo {
  position: fixed;
  right: 40%;
  top: 20px;
  width: 20%;
}

#intro {
  position: fixed;
  top: 50px;
  left: 40px;
  font-size: 18px;

}

h1, h2, h3, h4, h5 {
  font-family: 'Orbitron', sans-serif;
  line-height: 150%;
}

h1 {
  color: $meinnovation-teal;
  font-size: 35px;
}

h2, h3, h4, h5 {
  color: white;
}

h2 {
  font-size: 30px;
}

/* Body */
.contentBack {
  background-color: rgba(0, 0, 0, 0.4); 
  padding: 20px 100px;
  color: #ddd;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  top: 120px;
  z-index: 750
}

/* Navigation */

nav {
  z-index: 9999;
  width: 400px;
}

#nav_links {
  list-style-type: none; 
  padding: 0;
}

#nav_links a {
  display: inline-block;
  margin: 10px 0;
  color: white;
}

.collapse_nav {
  background-color: #666;
  border-radius: 10px;
  color: white;
  margin-left: 40px;
  padding: 10px;
  z-index: 9999;
}

.nav-toggle {
  display: block;
  background: linear-gradient(#ff80ab, $meinnovation-magenta);
  border-radius: 5px;
  margin-left: 40px;
  margin-top: 20px;
  padding: 10px 0;
  cursor: pointer;
  color: white;
  font-size: 22px;
  text-align: center;
  width: 50px;
  border: none;
  box-shadow: 4px 4px 8px #3E4551;

}

/* Gallery */

#gallery_wrap {
  padding: 20px 100px;
  position: absolute;
  right: 0;
  bottom: 50px;
  top: 50px;
}

photo {
  display: inline-block;
  width: 90%;
  position: relative;
  margin-left: 15%;
}

#desc {
  margin-bottom: 10px;
}

.slide-animation {
    display: block;
}

.slide_selection {
  margin-top: 480px;
  margin-left: 23%;
}

photo h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

photo ul li{
  list-style: none;
  padding: 0;
  width: 100%;
}

photo img {
  width: 100%;
  position: absolute;
  margin: -5% 0 0 0;
  z-index: 8000;
}

#metadata {
  position: absolute;
  left: 0;
  margin-top: 0;
  width: 40%;
  padding: 0 0.5% 0 0.5%;
  height: 100%;
  z-index: 9999;
  color: #ddd;
}

#metadata ul{
  list-style-type: none;
}

.subdata-link {
  margin-top: 40px;
  font-family: 'Orbitron', sans-serif;
}

button {
  background: linear-gradient(#ff80ab, $meinnovation-magenta);
  border-radius: 10px;
  padding: 10px 0;
  cursor: pointer;
  color: white;
  text-align: center;
  width: 50%;
  border: none;
  box-shadow: 4px 4px 8px #3E4551;
}

.ui-button {
  color: #e0e0e0;
}

button:hover{
  background: linear-gradient(#fafafa, #9e9e9e);
  color: $meinnovation-magenta;
}

/* About ME */

#intro_mobile {
  display: none;
}

.stats {
  margin: 0 10px;
  width: 30%;
}

.stats ul li {
  list-style-type: none;
  font-size: 1.4em;
}
.stats ul {
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 15px;
}

/* Contact */

.containerContact {
  margin: 5em auto 0 auto;
}

.containerContactColumn,  {
  text-align: center;
}

.containerContact img {
  width: 35%;
  margin: 0 auto;
}

#emailIcon {
  width: 40%;
  margin-top: 20px;
}

/* Footer */
footer {
  position: fixed;
  color: #000;
  bottom: 1%;
  left: 45.3%;
}
small {
  font-size: 1em;
}

/* Mobile Styling */


@media screen and (max-width: 579px) {
  body {
    height:100%;
    min-height:100%;
    overflow-y: scroll;
    font-size: 16px;
  }

  header {
    position: intial;
    text-align: center;
    top: 1em;
  }

  #melogo {
    width: 55%;
    margin: 0px auto;
    position: initial;
    right: 0;
    top: 0;
  }

  #intro {
    display: none;
  }

  #intro_mobile {
    display: block;
    font-size: 1em;
    position: initial;
    margin: 60% auto 0 auto;
    left: 0;
    z-index: 5000;
  }

  p {
    text-align: center;
  }

  h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
  }

  h2 {
    font-size: 1.5em;
    text-align: center; 
  }

  h3 {
    font-size: 1em;
    text-align: center; 
  }

  .contentBack {
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 20px;
    color: #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    top: 11%;
    z-index: 750
  }

  /* Navigation Buttons */

  #arrowDown {
    display: none;
  }
  #arrowUp {
    display: none;
  }

  .symbol {
    font-size: 100px;
    line-height: 10px;
  }

  .gallery-symbol {
    position: absolute;
    opacity: 0.3;
    text-shadow: 4px 4px 8px #4B515D;
    z-index: 1000;
    line-height: 10px;
    font-size: 200px;
  }

  #arrowRight {
    right: 5px;
    top: 60px;
    display: none;
  }

  #arrowLeft {
    left: 5px;
    top: 60px;
    display: none;
  }

  /* Gallery */

  #gallery_wrap {
    padding: 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    top: 0;
  }

  photo {
    display: inline-block;
    width: 100%;
    position:absolute;
    margin: 0;
  }

  #desc {
    margin-bottom: 10px;
  }

  .slide-animation {
    display: none;
  }

  .slide-animation2 {
    display: block;
  }

  photo h2 {
    font-size: 30px;
    margin: 0.8em auto;
  }


  photo ul li{
    list-style: none;
    padding: 0;
    width: 100%;
  }

  photo img {
    width: 100%;
    position: absolute;
    margin: 3% auto 0 auto;
    z-index: 8000;
  }

  .metadata {
    position: absolute;
    right: 0;
    background-color: rgba(62, 69, 81, 0.95);
    margin-top: 0;
    width: 100%;
    padding: 0 0.2% 0 0.5%;
    height: 400px;
    z-index: 9999;
    color: #ddd;
  }

  .meta-ul {
    margin: 0;
    padding: 0.8em;
    text-align: center;
  }
  .subdata-link {
    margin-top: 40px;
    font-family: 'Orbitron', sans-serif;
  }

  button {
    background: linear-gradient(#ff80ab, $meinnovation-magenta);
    border-radius: 10px;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 90%;
    border: none;
    box-shadow: 4px 4px 8px #3E4551;
  }

  #arrowLeft:hover, #arrowRight:hover, ui-button-active{
    color: $meinnovation-magenta;
    cursor: pointer;
    text-decoration: none;
  }

  .ui-button {
    color: #e0e0e0;
  }

  button:hover{
    background: linear-gradient(#fafafa, #9e9e9e);
    color: $meinnovation-magenta;
  }

  /* About ME */

  .stats {
    margin: 0;
    width: 100%;
  }

  .stats-ul li, .stats-overlay ul li {
    font-size: 18px;
  }
  .stats-ul {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 25px 15px 15px 15px;
    margin-top: -1px;
  }

  .stats-heading {
    background: linear-gradient(#ff80ab, $meinnovation-magenta);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 8px #3E4551;
    cursor: pointer;
    margin: 0.7em 0;
  }

  .stats-overlay {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 0;
    margin: -30px auto 0 -15px;
    background-color: rgba(62, 69, 81, 0.95);
    position: absolute;
    z-index: 9999;
    width: 100%;
    display: block;
  }

  .stats-overlay ul {
    border: none;
    border-radius: 0;
    padding: 15px;
    margin-top: -1px;
  }

  .stats-heading h2 {
    margin:0;
    z-index: -900;
  }

  .stats-heading:hover {
    background: linear-gradient(#fafafa, #9e9e9e);
    color: $meinnovation-magenta;
  }

  /* Contact */

  .containerContact {
    margin: 2.5em auto 0 auto;
  }

  .containerContactColumn,  {
    text-align: center;
    width: 33%;
  }

  .containerContact img, #emailIcon {
    width: 100%;
    margin: 0 auto;
  }

  #linkedIn, #gitHub, #emailIcon {
    margin: 5% auto 0 auto;
    display: inline-block;
  }

  #emailIcon {
    margin-top: 1.2em;
  }

  /* Footer */
  footer {
    color: #000;
    bottom: 1%;
    left: 0;
    margin: 0 auto;
    right: 0;
  }
  small {
    font-size: 1em;
  }

}

@media screen and (min-width: 580px) and (max-width: 799px) {
  
  body {
    height:100%;
    min-height:100%;
    overflow-y: scroll;
    font-size: 16px;
  }

  header {
    position: intial;
    text-align: center;
    top: 1em;
  }

  #melogo {
    width: 55%;
    margin: 0px auto;
    position: initial;
    right: 0;
    top: 0;
  }

  #intro {
    display: none;
  }

  #intro_mobile {
    display: block;
    font-size: 1em;
    position: relative;
    margin: 90% auto 0 auto;
    background-color: #666;
    z-index: 1100;
    padding: 5px;
  }


  p {
    text-align: center;
  }

  h1 {
    font-size: 2em;
    text-align: center; 
  }

  h2 {
    font-size: 1.5em;
    text-align: center; 
  }

  h3 {
    font-size: 1em;
    text-align: center; 
  }

  .contentBack {
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 20px;
    color: #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    top: 100px;
    z-index: 750
  }

    /* Navigation Buttons */

  #arrowDown {
    display: none;
  }
  #arrowUp {
    display: none;
  }

  .symbol, .gallery-symbol {
    font-size: 250px;
    line-height: 10px;
  }

  .gallery-symbol {
    position: absolute;
    opacity: 0.3;
    text-shadow: 4px 4px 8px #4B515D;
    z-index: 1000;
  }

  #arrowRight {
    right: 5px;
    top: 60px;
    z-index: 9999;
    display: none;
  }

  #arrowLeft {
    left: 5px;
    top: 60px;
    z-index: 9999;
    display: none;
  }

    /* Gallery */

  #gallery_wrap {
    padding: 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    top: 0;
  }

  photo {
    display: inline-block;
    width: 100%;
    position:absolute;
    z-index: 1000;
    margin: 0;
  }

  #desc {
    margin-bottom: 10px;
  }

  .slide-animation {
    display: none;
  }

  .slide-animation2 {
    display: block;
  }

  photo h2 {
    font-size: 30px;
    margin: 0.8em auto;
  }

  photo ul li{
    list-style: none;
    padding: 0;
    width: 100%;
  }

  photo img {
    width: 100%;
    position: absolute;
    margin: 2% auto 0 auto;
    z-index: 8000;
  }

  .metadata {
    position: absolute;
    right: 0;
    background-color: rgba(62, 69, 81, 0.95);
    margin-top: 0;
    width: 100%;
    padding: 0 0.2% 0 0.5%;
    height: 400px;
    z-index: 9999;
    color: #ddd;
    text-align: center;
  }

  .meta-ul {
    margin: 0;
    padding: 0.8em;
    text-align: center;
  }

  .subdata-link {
    margin-top: 40px;
    font-family: 'Orbitron', sans-serif;
  }

  button {
    background: linear-gradient(#ff80ab, $meinnovation-magenta);
    border-radius: 10px;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 90%;
    border: none;
    box-shadow: 4px 4px 8px #3E4551;
  }

  #arrowLeft:hover, #arrowRight:hover, ui-button-active{
    color: $meinnovation-magenta;
    cursor: pointer;
    text-decoration: none;
  }

  .ui-button {
    color: #e0e0e0;
  }

  button:hover{
    background: linear-gradient(#fafafa, #9e9e9e);
    color: $meinnovation-magenta;
  }

    /* About ME */
  .stats {
    margin: 0;
    width: 100%;
  }

  .stats ul li {
    font-size: 1.2em;
  }
  .stats ul {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 25px 15px 15px 15px;
    margin-top: -1px;
  }

  .stats-overlay {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 0;
    margin: -70px auto 0 -15px;
    background-color: rgba(62, 69, 81, 0.95);
    position: absolute;
    z-index: 9999;
    width: 100%;
    display: block;
  }

  .stats-overlay ul {
    border: none;
    border-radius: 0;
    padding: 15px;
    margin-top: -1px;
  }

  .stats-heading {
    background: linear-gradient(#ff80ab, $meinnovation-magenta);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 8px #3E4551;
    cursor: pointer;
    margin: 5px 0;
  }

  .stats-heading h2 {
    margin:0;
    z-index: 900;
    font-size: 2em;
  }

  .stats-heading:hover {
    background: linear-gradient(#fafafa, #9e9e9e);
    color: $meinnovation-magenta;
  }

  /* Contact */

  .containerContact {
    margin: 2em auto 0 auto;
  }

  .containerContact img, #emailIcon {
    width: 60%;
    margin: 0 auto;
  }

  .containerContactColumn,  {
    text-align: center;
    width: 33%;
  }

  #linkedIn, #gitHub, #emailIcon {
    margin: 5% auto 0 auto;
    display: inline-block;
  }

  #emailIcon {
    margin-top: 1.2em;
  }

    /* Footer */
  footer {
    color: #000;
    bottom: 1%;
    left: 0;
    margin: 0 auto;
    right: 0;
  }
  small {
    font-size: 1em;
  }

  
}

@media screen and (min-width: 800px) and (max-width: 991px) {

  body {
    height:100%;
    min-height:100%;
    overflow-y: scroll;
    font-size: 16px;
  }

  header {
    position: intial;
    text-align: center;
    top: 1em;
  }

  #melogo {
    width: 35%;
    margin: 0px auto;
    right: 2em;
    top: 1em;
  }

  p {
    text-align: center;
  }

  h1 {
    font-size: 1.5em;
    text-align: center; 
  }

  h2 {
    font-size: 1.25em;
    text-align: center; 
  }

  h3 {
    font-size: 1em;
    text-align: center; 
  }

  .contentBack {
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 20px;
    color: #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 70px;
    top: 100px;
    z-index: 750
  }

    /* Navigation Buttons */

  .symbol, .gallery-symbol {
    font-size: 200px;
    line-height: 10px;
  }

  .gallery-symbol {
    position: absolute;
    opacity: 0.3;
    text-shadow: 4px 4px 8px #4B515D;
    z-index: 1000;
  }

  #arrowRight {
    right: 5px;
    top: 150px;
    font-size: 300px;
    z-index:7000;
  }

  #arrowLeft {
    left: 5px;
    top: 150px;
    font-size: 300px;
    z-index: 7000;
  }

    /* Gallery */

  #gallery_wrap {
    padding: 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    top: 0;
  }

  photo {
    display: inline-block;
    width: 100%;
    position:absolute;
    margin: 0;
  }

  .slide-animation {
    display: block;
  }

  .slide-animation2 {
    display: none;
  }


  #desc {
    margin-bottom: 10px;
  }

  photo h2 {
    font-size: 30px;
    margin: 0.8em auto;
  }

  photo ul li{
    list-style: none;
    padding: 0;
    width: 100%;
  }

  photo img {
    width: 100%;
    position: absolute;
    margin: 0 auto 0 auto;
    z-index: 1000;
  }

  .metadata {
    position: absolute;
    right: 0;
    background-color: rgba(62, 69, 81, 0.95);
    margin-top: 0;
    width: 100%;
    padding: 0 0.2% 0 0.5%;
    height: 400px;
    z-index: 9999;
    color: #ddd;
  }

  .meta-ul {
    margin: 0;
    padding: 0.8em;
    text-align: center;
  }

  .subdata-link {
    margin-top: 40px;
    font-family: 'Orbitron', sans-serif;
  }

  button {
    background: linear-gradient(#ff80ab, $meinnovation-magenta);
    border-radius: 10px;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 60%;
    border: none;
    box-shadow: 4px 4px 8px #3E4551;
  }
  #arrowLeft:hover, #arrowRight:hover, ui-button-active{
    color: $meinnovation-magenta;
    cursor: pointer;
    text-decoration: none;
  }

  .ui-button {
    color: #e0e0e0;
  }

  button:hover{
    background: linear-gradient(#fafafa, #9e9e9e);
    color: $meinnovation-magenta;
  }

    /* About ME */
  .stats {
    margin: 0 auto;
    width: 80%;
    float: none;
  }

  .stats ul li {
    font-size: 18px;
  }
  .stats ul {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 25px 15px 15px 15px;
    margin-top: -1px;
  }

  .stats-heading {
    background: linear-gradient(#ff80ab, $meinnovation-magenta);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 8px #3E4551;
    cursor: pointer;
    margin: 0.4em 0;
  }

  .stats-heading h2 {
    margin:0;
    z-index: 900;
  }

  .stats-overlay {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 0;
    margin: -70px auto 0 -15px;
    background-color: rgba(62, 69, 81, 0.95);
    position: absolute;
    z-index: 9999;
    width: 100%;
    display: block;
  }

  .stats-overlay ul {
    border: none;
    border-radius: 0;
    padding: 15px;
    margin-top: -1px;
  }


  .stats-heading:hover {
    background: linear-gradient(#fafafa, #9e9e9e);
    color: $meinnovation-magenta;
  }

  /* Contact */

  .containerContact {
    margin: 5% auto 0 auto;
  }

  .containerContactColumn,  {
    text-align: center;
    width: 33%;
  }

  .containerContact img, #emailIcon {
    width: 60%;
    margin: 0 auto;
  }

  #linkedIn, #gitHub, #emailIcon {
    margin: 5% auto 0 auto;
    display: inline-block;
  }

  #emailIcon {
    margin-top: 15%;
  }

    /* Footer */
  footer {
    color: #000;
    bottom: 1%;
    left: 0;
    margin: 0 auto;
    right: 0;
  }
  small {
    font-size: 1em;
  }


}

@media screen and (min-width: 992px) and (max-width: 1399px) { 

    /* General */
  body {
    font-size: 16px;
  }

  header {
    position: fixed;
    top: 0;
  }

  #melogo {
    position: fixed;
    right: 40px;
    top: 20px;
    width: 20%;
  }

  #intro {
    position: fixed;
    top: 30px;
    left: 40px;
    font-size: 18px;

  }

  h1, h2, h3, h4, h5 {
    font-family: 'Orbitron', sans-serif;
    line-height: 150%;
  }

  h1 {
    color: $meinnovation-teal;
    font-size: 35px;
  }

  h2, h3, h4, h5 {
    color: white;
  }

  h2 {
    font-size: 30px;
  }

  /* Body */
  .contentBack {
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 20px 100px;
    color: #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    top: 80px;
    z-index: 750
  }

  /* Navigation Buttons */

  #arrowDown {
    position: absolute;
    bottom: 110px;
    left: 0;
    right: 0;
    z-index: 7000;
    text-align: center;
    margin: 0 auto;
  }
  #arrowUp {
    position: absolute;
    top: 0.15em;
    left: 0;
    right: 0;
    z-index: 7000;
    text-align: center;
    margin: 0 auto;
  }

  .symbol, .gallery-symbol {
    font-family: 'EntypoRegular';
    font-size: 400px;
    line-height: 10px;
    cursor: pointer;
    color: #e0e0e0;
    text-shadow: 4px 4px 8px #4B515D;
  }

  .symbol {
    font-size: 300px;
  }

  #arrowRight {
    position: absolute;
    right: 25px;
    top: 30%;
    color: #e0e0e0;
    z-index: 7000;
  }

  #arrowLeft {
    position: absolute;
    left: 25px;
    top: 30%;
    color: #e0e0e0;
    z-index: 7000;
  }

  /* Gallery */

  #gallery_wrap {
    padding: 10px 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    top: 50px;
  }

  photo {
    display: inline-block;
    width: 100%;
    position:relative;
    margin: 0;
  }

  #desc {
    margin-bottom: 10px;
  }

  .slide-animation {
    display: block;
  }

  .slide-animation2 {
    display: none;
  }


  photo h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  photo ul li{
    list-style: none;
    padding: 0;
    width: 100%;
  }

  photo img {
    width: 100%;
    position: absolute;
    margin: 1% 0 0 0;
    z-index: 1000;
  }

  .metadata {
    position: absolute;
    right: 8%;
    background-color: rgba(62, 69, 81, 0.95);
    margin-top: 7.8%;
    width: 50%;
    padding: 0 0.5% 0 0.5%;
    height: 20.4em;
    z-index: 9999;
    color: #ddd;
  }

  .subdata-link {
    margin-top: 40px;
    font-family: 'Orbitron', sans-serif;
  }

  .subdata {
    font-size: 16px;
  }

  button {
    background: linear-gradient(#ff80ab, $meinnovation-magenta);
    border-radius: 10px;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    text-align: center;
    width: 80%;
    border: none;
    box-shadow: 4px 4px 8px #3E4551;
  }

  #arrowLeft:hover, #arrowRight:hover, ui-button-active{
    color: $meinnovation-magenta;
    cursor: pointer;
    text-decoration: none;
  }

  .ui-button {
    color: #e0e0e0;
  }

  button:hover{
    background: linear-gradient(#fafafa, #9e9e9e);
    color: $meinnovation-magenta;
  }

  /* About ME */
  .stats {
    margin: 0 10px;
    width: 30%;
  }

  .stats ul li {
    list-style-type: none;
    font-size: 16px;
  }
  .stats ul {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 15px;
  }

  /* Contact */

  .containerContact {
    margin: 6em auto 0 auto;
  }

  .containerContactColumn,  {
    text-align: center;
  }

  .containerContact img {
    width: 45%;
    margin: 0 auto;
    display: inline-block;
  }

  #emailIcon {
    width: 60%;
    margin-top: 10px;
    display: inline-block;
  }

    /* Footer */
  footer {
    color: #000;
    bottom: 1%;
    left: 0;
    margin: 0 auto;
    right: 0;
    text-align: center;
  }
  small {
    font-size: 1em;
  }

}

@media screen and (max-height: 500px) {

  body {
    font-size: 14px;
  }
  
  h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
  }

  h2 {
    font-size: 1.5em;
  }

  .contentBack {
    bottom: 60px;
    top: 15%;
    z-index: 750;
  }

  #arrowDown {
    display: none;
  }
  #arrowUp {
    display: none;
  }

  .symbol {
    font-size: 80px;
  }

  .gallery-symbol {
    z-index: 1000;
    font-size: 200px;
  }

  #about_info {
    display: none;
  }

  .stats-ul li {
    font-size: 14px;
  }
  .stats-ul {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 25px 15px 15px 15px;
    margin-top: -1px;
  }

  .stats-heading {
    background: linear-gradient(#ff80ab, $meinnovation-magenta);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 8px #3E4551;
    cursor: pointer;
    margin: 0.4em 0;
  }

  .stats-heading h2 {
    margin:0;
    z-index: 900;
    font-size: 2em;
  }

  .containerContact {
    margin: 2em auto 0 auto;
  }

  #emailIcon {
    margin-top: 1em;
  }

}