/* SASS declarations */
/* General */
body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 20px;
  z-index: 500;
  background: url("../img/future-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

h1, h2, h3, h4, h5 {
  font-family: 'Orbitron', sans-serif;
  line-height: 150%; }

h1 {
  color: #4dd0e1;
  font-size: 35px; }

h2, h3, h4, h5 {
  color: white; }

h2 {
  font-size: 30px; }

header {
  position: fixed;
  top: 0;
  z-index: 9999;
  background: linear-gradient(#9e9e9e, #fafafa, #9e9e9e);
  width: 100%;
  height: 100px; }

.logo_wrap {
  position: fixed;
  right: 0;
  top: 0;
  width: 88%;
  padding-top: 15px;
  padding-left: 28%; }

.logo_wrap img {
  width: 32%; }

.logo_wrap_intro {
  display: none; }

.contentBack {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 100px;
  color: #ddd;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  top: 100px;
  z-index: 750; }

/* Intro */
.intro_wrap {
  font-size: 18px; }

.welcome_wrap {
  position: fixed;
  top: 45%;
  left: 32%; }

.welcome {
  font-size: 30px;
  font-weight: bold;
  color: #ddd; }

#bg_vid {
  position: absolute;
  width: 100%;
  z-index: -100;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: auto; }

/* Navigation */
nav {
  z-index: 1000;
  width: 400px;
  height: 200px;
  margin-top: 70px;
  margin-left: 30px;
  position: absolute; }

#nav_links {
  list-style-type: none;
  padding: 0; }

#nav_links li {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  display: block; }

#nav_links a:hover {
  color: #ff4081;
  font-weight: bold; }

#nav_links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px; }

.button_wrap {
  margin-left: 20px;
  margin-top: 10px;
  width: 10%;
  cursor: pointer;
  padding-top: 10px;
  display: inline-block;
  z-index: 2000;
  position: fixed;
  left: 0; }

.collapse_nav {
  background: linear-gradient(#9E9E9E, #616161);
  border-radius: 0px 10px 10px 10px;
  color: white;
  padding: 10px;
  z-index: 900;
  width: 93%; }

.nav-toggle, .nav-toggle:hover {
  background: linear-gradient(#ff80ab, #ff4081);
  border-radius: 5px;
  color: white;
  font-size: 22px;
  text-align: center;
  border: none;
  box-shadow: 4px 4px 8px #3E4551;
  height: 50px;
  width: 50px; }

.glyphicon {
  z-index: 9999; }

/* Gallery */
#gallery_wrap {
  padding: 20px 100px;
  position: absolute;
  right: 0;
  bottom: 50px;
  top: 100px; }

photo {
  display: inline-block;
  width: 90%;
  position: relative;
  margin-left: 15%; }

#desc {
  margin-bottom: 10px; }

.slide-animation {
  display: block; }

.slide-animation-selection {
  width: 20%;
  display: inline-block;
  margin: 0 10px; }

.slide_selection {
  margin-top: 40%;
  margin-left: 11%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px 0px 20px 90px;
  cursor: pointer; }

photo h2 {
  font-size: 30px;
  margin-bottom: 20px; }

photo ul li {
  list-style: none;
  padding: 0;
  width: 100%; }

photo img {
  width: 90%;
  position: absolute;
  margin: -5% 0 0 0;
  z-index: 8000;
  border: 5px solid #ccc;
  border-radius: 10px;
  box-shadow: 4px 4px 20px #37474F;
  cursor: pointer; }

#metadata {
  position: absolute;
  left: 0;
  margin-top: 140px;
  width: 45%;
  padding: 0 0.5% 0 0.5%;
  height: 100%;
  z-index: 9999;
  color: #ddd;
  text-align: right; }

#metadata ul {
  list-style-type: none; }

.subdata-link {
  margin-top: 40px;
  font-family: 'Orbitron', sans-serif; }

button {
  background: linear-gradient(#ff80ab, #ff4081);
  border-radius: 10px;
  padding: 10px 0;
  cursor: pointer;
  color: white;
  text-align: center;
  width: 50%;
  border: none;
  box-shadow: 4px 4px 8px #3E4551; }

.ui-button {
  color: #e0e0e0; }

button:hover {
  background: linear-gradient(#fafafa, #9e9e9e);
  color: #ff4081; }

.meta_instructions, .instructions {
  display: none; }

/* About ME */
.stats_wrap {
  margin: 20px 10px;
  width: 100%; }

.stats_col {
  width: 30%;
  margin: 10px;
  display: inline-block;
  vertical-align: top; }

.stats {
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 20px;
  font-size: 1em;
  letter-spacing: 2px;
  line-height: 30px;
  min-height: 250px; }

#about_data, .about_instructions {
  display: none; }

/* Contact */
.containerContact {
  margin: 5em auto 0 auto; }

.containerContactColumn {
  text-align: center; }

.containerContact img {
  width: 35%;
  margin: 0 auto; }

#emailIcon {
  width: 47%; }

.contact_icon img:last-child {
  display: none; }

.contact_icon:hover img:first-child {
  display: none; }

.contact_icon:hover img:last-child {
  display: inline-block; }

/* Footer */
footer {
  font-family: 'Arial', sans-serif;
  position: fixed;
  color: #9e9e9e;
  bottom: 0;
  left: 0;
  background: linear-gradient(#9e9e9e, #fafafa, #9e9e9e);
  width: 100%;
  height: 100px;
  z-index: 9999;
  text-align: center;
  padding-top: 40px;
  font-size: 0.8em; }

/* Mobile Styling */
/* For Mobile Portrait Displays */
@media screen and (max-width: 599px) {
  html {
    height: 100%;
    width: 100%; }
  body {
    height: 100%;
    min-height: 100%;
    font-size: 16px; }
  header {
    position: intial;
    text-align: center;
    top: 0;
    height: 90px;
    padding-top: 20px; }
  .logo_wrap img {
    width: 70%; }
  .logo_wrap {
    padding-left: 1%;
    top: 0.5%;
    width: 80%;
    z-index: 400; }
  .intro_wrap {
    margin-top: 100px; }
  #bg_vid {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: -100;
    background-size: cover;
    display: none; }
  .welcome_wrap {
    position: initial;
    padding: 20px; }
  .welcome {
    font-size: 20px;
    font-weight: bold; }
  p {
    text-align: center; }
  h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.3em; }
  h2 {
    font-size: 1.5em;
    text-align: center; }
  h3 {
    font-size: 1em;
    text-align: center; }
  .contentBack {
    padding: 50px 20px 20px;
    color: #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    top: 9.6%;
    z-index: 750; }
  /* Navigation Buttons */
  nav {
    width: 365px;
    margin-top: 37px;
    margin-left: 6px; }
  .collapse_nav {
    margin-left: 20px;
    width: 86%; }
  .button_wrap {
    margin-left: 0;
    margin-top: 0;
    width: 50px;
    height: 50px;
    padding: 1px 0; }
  .nav-toggle, .nav-toggle:hover {
    margin-left: 10px;
    margin-top: 0;
    padding: 7px 0;
    font-size: 20px;
    width: 40px;
    height: 40px; }
  /* Gallery */
  #gallery_wrap {
    padding: 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    top: 40px; }
  photo {
    display: inline-block;
    width: 100%;
    position: absolute;
    margin: 0; }
  #desc {
    margin-bottom: 10px; }
  .slide-animation {
    display: block; }
  .slide_selection {
    margin-top: 630px;
    margin-left: 0;
    padding: 10px 0px;
    border-radius: 0px;
    position: absolute;
    bottom: 0;
    text-align: center; }
  .slide-animation-selection {
    width: 22%;
    display: inline-block;
    margin: 0 5px; }
  photo h2 {
    font-size: 30px;
    margin: 0.8em auto; }
  photo ul li {
    list-style: none;
    padding: 0;
    width: 100%; }
  photo img {
    width: 95%;
    position: absolute;
    margin: 20% auto 0 2.5%;
    z-index: 8000;
    border: 5px solid #ccc; }
  #metadata {
    position: absolute;
    right: 0;
    background-color: rgba(62, 69, 81, 0.95);
    margin-top: -90px;
    width: 100%;
    padding: 0 0.2% 0 0.5%;
    height: 400px;
    z-index: 9999;
    color: #ddd;
    display: none;
    margin-left: 0; }
  .meta-ul {
    margin-top: 20px;
    padding: 0.8em;
    text-align: center; }
  .subdata-link {
    margin-top: 40px;
    font-family: 'Orbitron', sans-serif; }
  button {
    background: linear-gradient(#ff80ab, #ff4081);
    border-radius: 10px;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 90%;
    border: none;
    box-shadow: 4px 4px 8px #3E4551; }
  #arrowLeft:hover, #arrowRight:hover, ui-button-active {
    color: #ff4081;
    cursor: pointer;
    text-decoration: none; }
  .ui-button {
    color: #e0e0e0; }
  button:hover {
    background: linear-gradient(#fafafa, #9e9e9e);
    color: #ff4081; }
  .meta_instructions, .instructions {
    display: inline-block; }
  .meta_instructions {
    margin-top: 40px;
    text-align: center;
    margin-right: 35%;
    font-size: 20px;
    color: #757575; }
  /* About ME */
  #about_wrap p {
    margin-bottom: 0px; }
  #about_data {
    position: absolute;
    right: 0;
    background-color: rgba(62, 69, 81, 0.95);
    margin-top: 10px;
    width: 100%;
    padding: 10%;
    height: 300px;
    z-index: 9999;
    color: #ddd;
    display: none;
    margin-left: 10px;
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    top: 12%;
    text-align: center; }
  .about_instructions {
    display: inline-block;
    margin-top: 20%;
    font-size: 20px;
    color: #757575; }
  .stats_wrap {
    margin: 0;
    width: 100%; }
  .stats {
    display: none; }
  .stats_col {
    width: 100%;
    margin: 0px; }
  .stats_heading {
    margin: 0;
    background: linear-gradient(#ff80ab, #ff4081);
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: none;
    box-shadow: 4px 4px 8px #3E4551; }
  .stats_heading:hover {
    background: linear-gradient(#fafafa, #9e9e9e);
    color: #ff4081; }
  /* Contact */
  .containerContact {
    margin: 2.5em auto 0 auto; }
  .containerContactColumn {
    text-align: center;
    width: 33%; }
  .containerContact img {
    width: 75%;
    margin: 0 auto; }
  #emailIcon {
    width: 100%;
    margin: 0 auto; }
  #linkedIn, #gitHub, #emailIcon {
    margin: 5% auto 0 auto; }
  .contact_icon img:last-child {
    display: none; }
  .contact_icon:hover img:first-child {
    display: none; }
  .contact_icon:hover img:last-child {
    display: inline-block; }
  /* Footer */
  footer {
    color: #000;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    height: 90px;
    padding-top: 30px; }
  small {
    font-size: 1em; } }

/* For Tablet Potrait Displays */
@media screen and (min-width: 600px) and (max-width: 989px) {
  html {
    height: 100%;
    width: 100%; }
  body {
    height: 100%;
    min-height: 100%;
    font-size: 16px; }
  header {
    position: intial;
    text-align: center;
    top: 0;
    height: 90px;
    padding-top: 20px; }
  .logo_wrap img {
    width: 60%; }
  .logo_wrap {
    margin: 0px auto;
    right: 22%;
    top: 0.5%;
    width: 80%;
    z-index: 400;
    display: inline-block;
    padding-top: 15px; }
  .intro_wrap {
    margin-top: 170px; }
  #bg_vid {
    position: fixed;
    top: 35%;
    left: 0;
    width: 100%;
    z-index: -100;
    background-size: cover;
    display: none; }
  .welcome_wrap {
    position: initial;
    padding: 20px;
    top: 40%;
    left: 0; }
  .welcome {
    font-size: 20px;
    font-weight: bold; }
  p {
    text-align: center; }
  h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.3em; }
  h2 {
    font-size: 1.5em;
    text-align: center; }
  h3 {
    font-size: 1em;
    text-align: center; }
  .contentBack {
    padding: 50px 20px 20px;
    color: #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    top: 9.6%;
    z-index: 750;
    text-align: center; }
  /* Navigation Buttons */
  nav {
    width: 365px;
    margin-top: 30px;
    margin-left: 6px; }
  .collapse_nav {
    margin-left: 20px;
    width: 86%; }
  .button_wrap {
    margin-left: 0;
    margin-top: 0;
    width: 50px;
    height: 50px;
    padding: 1px 0; }
  .nav-toggle, .nav-toggle:hover {
    margin-left: 10px;
    margin-top: 0;
    padding: 7px 0;
    font-size: 20px;
    width: 40px;
    height: 40px; }
  /* Gallery */
  #gallery_wrap {
    padding: 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    top: 40px;
    text-align: left; }
  photo {
    display: inline-block;
    width: 100%;
    position: absolute;
    margin: 0; }
  #desc {
    margin-bottom: 10px; }
  .slide-animation {
    display: block; }
  .slide_selection {
    margin-top: 630px;
    margin-left: 0;
    padding: 10px 0px 10px 45px;
    border-radius: 0px;
    position: absolute;
    bottom: 0; }
  .slide-animation-selection {
    width: 22%;
    display: inline-block;
    margin: 0 5px; }
  photo h2 {
    font-size: 30px;
    margin: 0.8em auto; }
  photo ul li {
    list-style: none;
    padding: 0;
    width: 100%; }
  photo img {
    width: 80%;
    position: absolute;
    margin: 9% auto 0 9.5%;
    z-index: 8000;
    border: 5px solid #ccc; }
  #metadata {
    position: absolute;
    right: 0;
    background-color: rgba(62, 69, 81, 0.95);
    margin-top: -90px;
    width: 100%;
    padding: 0 0.2% 0 0.5%;
    height: 400px;
    z-index: 9999;
    color: #ddd;
    display: none;
    margin-left: 0; }
  .meta-ul {
    margin-top: 20px;
    padding: 0.8em;
    text-align: center; }
  .subdata-link {
    margin-top: 40px;
    font-family: 'Orbitron', sans-serif; }
  button {
    background: linear-gradient(#ff80ab, #ff4081);
    border-radius: 10px;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 90%;
    border: none;
    box-shadow: 4px 4px 8px #3E4551; }
  #arrowLeft:hover, #arrowRight:hover, ui-button-active {
    color: #ff4081;
    cursor: pointer;
    text-decoration: none; }
  .ui-button {
    color: #e0e0e0; }
  button:hover {
    background: linear-gradient(#fafafa, #9e9e9e);
    color: #ff4081; }
  .meta_instructions, .instructions {
    display: inline-block; }
  .meta_instructions {
    margin-top: 40px;
    text-align: center;
    margin-right: 35%;
    font-size: 20px;
    color: #757575; }
  /* About ME */
  #about_wrap p {
    margin-bottom: 0px; }
  #about_data {
    position: absolute;
    right: 0;
    background-color: rgba(62, 69, 81, 0.95);
    margin-top: 10px;
    width: 100%;
    padding: 5%;
    height: 300px;
    z-index: 9999;
    color: #ddd;
    display: none;
    margin-left: 10px;
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    top: 12%;
    text-align: center;
    line-height: 30px; }
  .stats_wrap {
    margin: 0;
    width: 100%; }
  .stats {
    display: none; }
  .stats_col {
    width: 100%;
    margin: 0px; }
  .stats_heading {
    margin: 0;
    background: linear-gradient(#ff80ab, #ff4081);
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: none;
    box-shadow: 4px 4px 8px #3E4551; }
  .stats_heading:hover {
    background: linear-gradient(#fafafa, #9e9e9e);
    color: #ff4081; }
  .about_instructions {
    display: inline-block;
    margin-top: 18%;
    font-size: 20px;
    color: #757575;
    text-align: center; }
  /* Contact */
  .containerContact {
    margin: 2.5em auto 0 auto; }
  .containerContactColumn {
    text-align: center;
    width: 33%; }
  .containerContact img {
    width: 45%;
    margin: 0 auto; }
  #linkedIn, #gitHub, #emailIcon {
    margin: 5% auto 0 auto; }
  #emailIcon {
    width: 60%;
    margin: 5% 0 auto; }
  .contact_icon img:last-child {
    display: none; }
  .contact_icon:hover img:first-child {
    display: none; }
  .contact_icon:hover img:last-child {
    display: inline-block; }
  /* Footer */
  footer {
    color: #000;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    height: 90px;
    padding-top: 30px; }
  small {
    font-size: 1em; } }

/* Mid laptop or desktop Display */
@media screen and (min-width: 990px) and (max-width: 1249px) {
  html {
    height: 100%;
    width: 100%; }
  body {
    height: 100%;
    min-height: 100%;
    font-size: 16px; }
  header {
    position: intial;
    text-align: center;
    top: 0;
    height: 90px;
    padding-top: 20px; }
  .logo_wrap img {
    width: 40%; }
  .logo_wrap {
    margin: 0px auto;
    right: 23%;
    top: 0.3%;
    width: 80%;
    z-index: 400;
    display: inline-block; }
  .intro_wrap {
    margin-top: 200px;
    text-align: center; }
  .welcome_wrap {
    position: initial;
    padding: 20px; }
  .welcome {
    font-size: 20px;
    font-weight: bold; }
  .contentBack {
    color: #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 750;
    top: 0;
    padding: 100px 100px 0 100px; }
  /* Navigation Buttons */
  nav {
    width: 365px;
    margin-top: 30px;
    margin-left: 6px; }
  .collapse_nav {
    margin-left: 20px;
    width: 86%; }
  .button_wrap {
    margin-left: 0;
    margin-top: 0;
    width: 50px;
    height: 50px;
    padding: 1px 0;
    right: 95%; }
  .nav-toggle, .nav-toggle:hover {
    margin-left: 10px;
    margin-top: 0;
    padding: 7px 0;
    font-size: 20px;
    width: 40px;
    height: 40px; }
  /* Gallery */
  #gallery_wrap {
    padding: 20px 100px;
    position: absolute;
    right: 0;
    bottom: 50px;
    top: 80px; }
  photo {
    display: inline-block;
    width: 90%;
    position: relative;
    margin-left: 15%; }
  #desc {
    margin-bottom: 10px; }
  .slide-animation {
    display: block; }
  .slide-animation-selection {
    width: 20%;
    display: inline-block;
    margin: 0 10px; }
  .slide_selection {
    width: 100%;
    margin-top: 60%;
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px 0px 20px 20px;
    cursor: pointer;
    text-align: center; }
  photo h2 {
    font-size: 30px;
    margin-bottom: 20px; }
  photo ul li {
    list-style: none;
    padding: 0;
    width: 100%; }
  photo img {
    width: 100%;
    position: absolute;
    margin-top: 10%;
    z-index: 8000;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-shadow: 4px 4px 20px #37474F;
    cursor: pointer; }
  #metadata {
    position: absolute;
    left: 0;
    margin-top: 60px;
    width: 45%;
    padding: 0 0.5% 0 0.5%;
    height: 100%;
    z-index: 9999;
    color: #ddd;
    text-align: right; }
  #metadata ul {
    list-style-type: none;
    padding-left: 0; }
  .subdata-link {
    margin-top: 40px;
    font-family: 'Orbitron', sans-serif; }
  button {
    background: linear-gradient(#ff80ab, #ff4081);
    border-radius: 10px;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    text-align: center;
    width: 50%;
    border: none;
    box-shadow: 4px 4px 8px #3E4551; }
  .ui-button {
    color: #e0e0e0; }
  button:hover {
    background: linear-gradient(#fafafa, #9e9e9e);
    color: #ff4081; }
  .meta_instructions, .instructions {
    display: none; }
  /* About ME */
  #about_wrap p {
    margin-bottom: 0px; }
  #about_data {
    position: absolute;
    right: 0;
    background-color: rgba(62, 69, 81, 0.95);
    margin-top: 10px;
    width: 100%;
    padding: 10%;
    height: 300px;
    z-index: 9999;
    color: #ddd;
    display: none;
    margin-left: 10px;
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    top: 12%; }
  .stats_wrap {
    margin: 0;
    width: 100%; }
  .stats {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 20px;
    font-size: 1em;
    letter-spacing: 3px;
    line-height: 24px;
    min-height: 360px; }
  /* Contact */
  .containerContact {
    margin: 2.5em auto 0 auto; }
  .containerContactColumn {
    text-align: center;
    width: 33%; }
  .containerContact img {
    width: 50%;
    margin: 0 auto; }
  #linkedIn, #gitHub, #emailIcon {
    margin: 5% auto 0 auto; }
  #emailIcon {
    width: 70%;
    margin: 5% 0 auto; }
  .contact_icon img:last-child {
    display: none; }
  .contact_icon:hover img:first-child {
    display: none; }
  .contact_icon:hover img:last-child {
    display: inline-block; }
  /* Footer */
  footer {
    color: #000;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    height: 90px;
    padding-top: 30px; }
  small {
    font-size: 1em; } }

/* In-between mid and full size */
@media screen and (min-width: 1250px) and (max-width: 1499px) {
  html {
    height: 100%;
    width: 100%; }
  body {
    height: 100%;
    min-height: 100%;
    font-size: 16px; }
  header {
    position: intial;
    text-align: center;
    top: 0;
    height: 90px;
    padding-top: 20px; }
  .logo_wrap img {
    width: 40%; }
  .logo_wrap {
    margin: 0px auto;
    right: 23%;
    top: 0.3%;
    width: 80%;
    z-index: 400;
    display: inline-block; }
  .intro_wrap {
    margin-top: 200px;
    text-align: center; }
  .welcome_wrap {
    position: initial;
    padding: 20px; }
  .welcome {
    font-size: 20px;
    font-weight: bold; }
  .contentBack {
    color: #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 750;
    top: 0;
    padding: 100px 100px 0 100px; }
  /* Navigation Buttons */
  nav {
    width: 365px;
    margin-top: 30px;
    margin-left: 6px; }
  .collapse_nav {
    margin-left: 20px;
    width: 86%; }
  .button_wrap {
    margin-left: 0;
    margin-top: 0;
    width: 50px;
    height: 50px;
    padding: 1px 0;
    right: 95%; }
  .nav-toggle, .nav-toggle:hover {
    margin-left: 10px;
    margin-top: 0;
    padding: 7px 0;
    font-size: 20px;
    width: 40px;
    height: 40px; }
  /* Gallery */
  #gallery_wrap {
    padding: 20px 100px;
    position: absolute;
    right: 0;
    bottom: 50px;
    top: 80px; }
  photo {
    display: inline-block;
    width: 90%;
    position: relative;
    margin-left: 15%; }
  #desc {
    margin-bottom: 10px; }
  .slide-animation {
    display: block; }
  .slide-animation-selection {
    width: 20%;
    display: inline-block;
    margin: 0 10px; }
  .slide_selection {
    width: 100%;
    margin-top: 60%;
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px 0px 20px 20px;
    cursor: pointer;
    text-align: center; }
  photo h2 {
    font-size: 30px;
    margin-bottom: 20px; }
  photo ul li {
    list-style: none;
    padding: 0;
    width: 100%; }
  photo img {
    width: 100%;
    position: absolute;
    margin-top: 10%;
    z-index: 8000;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-shadow: 4px 4px 20px #37474F;
    cursor: pointer; }
  #metadata {
    position: absolute;
    left: 0;
    margin-top: 60px;
    width: 45%;
    padding: 0 0.5% 0 0.5%;
    height: 100%;
    z-index: 9999;
    color: #ddd;
    text-align: right; }
  #metadata ul {
    list-style-type: none;
    padding-left: 0; }
  .subdata-link {
    margin-top: 40px;
    font-family: 'Orbitron', sans-serif; }
  button {
    background: linear-gradient(#ff80ab, #ff4081);
    border-radius: 10px;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    text-align: center;
    width: 50%;
    border: none;
    box-shadow: 4px 4px 8px #3E4551; }
  .ui-button {
    color: #e0e0e0; }
  button:hover {
    background: linear-gradient(#fafafa, #9e9e9e);
    color: #ff4081; }
  .meta_instructions, .instructions {
    display: none; }
  /* About ME */
  #about_wrap p {
    margin-bottom: 0px; }
  #about_data {
    position: absolute;
    right: 0;
    background-color: rgba(62, 69, 81, 0.95);
    margin-top: 10px;
    width: 100%;
    padding: 10%;
    height: 300px;
    z-index: 9999;
    color: #ddd;
    display: none;
    margin-left: 10px;
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    top: 12%; }
  .stats_wrap {
    margin: 0;
    width: 100%; }
  .stats {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 20px;
    font-size: 1em;
    letter-spacing: 3px;
    line-height: 24px;
    min-height: 360px; }
  /* Contact */
  .containerContact {
    margin: 2.5em auto 0 auto; }
  .containerContactColumn {
    text-align: center;
    width: 33%; }
  .containerContact img {
    width: 50%;
    margin: 0 auto; }
  #linkedIn, #gitHub, #emailIcon {
    margin: 5% auto 0 auto; }
  #emailIcon {
    width: 70%;
    margin: 5% 0 auto; }
  .contact_icon img:last-child {
    display: none; }
  .contact_icon:hover img:first-child {
    display: none; }
  .contact_icon:hover img:last-child {
    display: inline-block; }
  /* Footer */
  footer {
    color: #000;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    height: 90px;
    padding-top: 30px; }
  small {
    font-size: 1em; } }

@media screen and (max-height: 499px) {
  body {
    overflow-y: scroll; }
  header {
    height: 50px;
    display: none; }
  nav {
    width: 360px;
    margin-top: 15px; }
  footer {
    display: none; }
  .logo_wrap_intro {
    display: block; }
  .logo_wrap_intro img {
    width: 70%; }
  .intro_wrap {
    margin-top: 50px; }
  .contentBack {
    color: #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    z-index: 750;
    top: 0;
    height: 100%;
    padding: 0px 20px 20px; }
  #about_data {
    height: 200px;
    margin-top: 20px; }
  #metadata {
    text-align: center;
    margin-top: 0; }
  .instructions {
    display: none; }
  .meta_instructions {
    margin-top: 0px;
    margin-right: 0; }
  .about_instructions {
    margin-top: 4%; }
  .meta-ul {
    margin-top: 0px; }
  .slide_selection {
    display: none; }
  #gallery_wrap {
    top: 0;
    bottom: 0; }
  photo img {
    margin: 1% auto 0 10%;
    width: 80%; }
  .containerContact {
    margin: 1em auto 0 auto; } }

@media screen and (max-height: 740px) and (min-width: 990px) {
  footer {
    display: none; } }

@media screen and (max-height: 620px) {
  body {
    overflow-y: scroll; } }
