/* SASS declarations */
/* General */
body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #B0BEC5; }

a {
  text-decoration: none; }

h1, h2 {
  color: #37474F; }

#container {
  padding: 10px; }

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px; }

.contact_icon img {
  width: 10%;
  margin: 0 10px; }

section {
  margin: 200px 0; }

#button_wrap {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 40px; }

#contact_wrap {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 20px;
  text-align: right;
  padding-right: 10px; }

#welcome_wrap, #gallery_wrap {
  text-align: center; }

#intro_wrap {
  padding: 40px;
  margin: 0 auto; }

#about_wrap {
  padding: 10px; }

#intro_logo {
  width: 100%; }

#intro_logo_wrap {
  text-align: center; }

photo img {
  width: 100%; }

.slide-animation-selection {
  width: 20%; }

footer {
  text-align: center; }

.instructions {
  text-align: center; }

.stats_heading {
  border-bottom: 2px solid #78909C;
  margin-bottom: 10px; }

.stats_heading h3 {
  margin-bottom: 5px;
  display: inline-block;
  margin-left: 20px;
  color: #78909C; }

.stats {
  line-height: 25px; }

.fa-code, .fa-wrench, .fa-battery-quarter {
  display: inline-block; }
