<div id="main_wrap">
	<div class="instructions">
		<p>Swipe or select from below to view projects. Tap the preview for more details.</p>
	</div>
	<div id="gallery_wrap" class="col-xs-12 col-md-8">
		<gallery>
			<photo>
				<img id="gallery_image" class="slide-animation" ng-repeat="item in items" ng-hide="!newIndex($index)" ng-src="{{ item.image }}" hm-swiperight="nextItem()" hm-swipeleft="lastItem()" hm-tap="overlay()"> 
			</photo>
			<div class="slide_selection">
				<!--- <ol class="carousel-indicators" ng-repeat="item in items">
					<li class="active"></li>
				</ol> -->
				<img class="slide-animation-selection" ng-repeat="item in items" ng-src="{{ item.image }}" hm-tap="setIndex($index)"> 
			</div>
		</gallery>
	</div>

	<div id="metadata" class="col-xs-12 col-md-4" hm-tap="overlay()">
		<ul class="meta-ul">
			<li class="art_title" ng-repeat="item in items" ng-hide="!newIndex($index)"><h2>{{ item.title }}</h2></li>
			<li class="subdata" id="desc" ng-repeat="item in items" ng-hide="!newIndex($index)">{{ item.desc }}</li>
			<li class="subdata" id="tech" ng-repeat="item in items" ng-hide="!newIndex($index)">{{ item.tech }}</li>
			<li class="subdata subdata-link" ng-repeat="item in items" ng-hide="!newIndex($index)"><a href="{{ item.link }}" target="_blank"><button>Click to View</button></a></li>
		</ul>
		<div class="meta_instructions">
			<p>Tap to close</p>
		</div>
	</div>
</div>
