<div id="main_wrap">
	<div id="gallery_wrap" class="col-xs-12 col-md-8">
		<gallery>
			<photo>
				<img id="gallery_image" class="slide-animation" ng-repeat="item in items" ng-hide="!newIndex($index)" ng-src="{{ item.image }}" hm-swiperight="nextItem()" hm-swipeleft="lastItem()">
			</photo>
			<div class="slide_selection">
				<ol class="carousel-indicators">
					<li data-target="#gallery_image" data-slide-to="{{ item.image[0] }}" class="active"></li>
					<li data-target="#gallery_image" data-slide-to="{{ item.image[1] }}"></li>
					<li data-target="#gallery_image" data-slide-to="{{ item.image[2] }}"></li>
					<li data-target="#gallery_image" data-slide-to="{{ item.image[3] }}"></li>
				</ol>
			</div>
		</gallery>
	</div>

	<div id="metadata" class="col-xs-12 col-md-4">
		<ul class="meta-ul">
			<li class="art_title" ng-repeat="item in items" ng-hide="!newIndex($index)"><h2>{{ item.title }}</h2></li>
			<li class="subdata" id="desc" ng-repeat="item in items" ng-hide="!newIndex($index)">{{ item.desc }}</li>
			<li class="subdata" id="tech" ng-repeat="item in items" ng-hide="!newIndex($index)">{{ item.tech }}</li>
			<li class="subdata subdata-link" ng-repeat="item in items" ng-hide="!newIndex($index)"><a href="{{ item.link }}" target="_blank"><button>Click to View</button></a></li>
		</ul>
	</div>
</div>
