<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="ME Innovation - the online portfolio for Marcus Eubanks.">
	<title>ME Innovation | Marcus Eubanks Portfolio Site</title>
	<!--<link rel="stylesheet" href="css/jquery.fullPage.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	-->
	<link href='http://fonts.googleapis.com/css?family=Orbitron:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="build/css/styles.css">
    <script src="js/jquery1113.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="bower_components/hammerjs/hammer.min.js"></script>
    <script src="bower_components/AngularHammer/angular.hammer.min.js"></script>
    <script src="js/velocity.js"></script>
    <script src="js/jquery.fullPage.js"></script>
	<script src="js/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="js/me_innovation.js"></script>
</head>
<body>
	<header>
		<a href="#">
            <img id="melogo" src="build/img/meInnovationNew.png" alt="ME Innovation Icon" />
        </a>
		<p id="intro">Marcus Eubanks - Front-End Developer/Designer</p>
	</header>
	<div id="fullpage">
		<div class="section">
			<div class="contentBack">
				<div id="gallery_wrap">
						<gallery ng-app="demo" ng-controller="ctrl">
							<div class="gallery-symbol" id="arrowLeft" ng-click="lastItem()">&#59237;</div>
	  						<div class="gallery-symbol" id="arrowRight" ng-click="nextItem()">&#59238;</div>
						    <photo>
						        <img id="gallery_image" class="slide-animation" ng-repeat="item in items" ng-hide="!newIndex($index)" ng-src="{{ item.image }}" hm-swiperight="nextItem()" hm-swipeleft="lastItem()" hm-tap="overlay()">
						        <img id="gallery_image" class="slide-animation2" ng-repeat="item in items" ng-hide="!newIndex($index)" ng-src="{{ item.image2 }}" hm-swiperight="nextItem()" hm-swipeleft="lastItem()" hm-tap="overlay()">
						        <div class="metadata" hm-tap="overlay()">
						        	<ul class="meta-ul">
						            	<li class="art_title" ng-repeat="item in items" ng-hide="!newIndex($index)"><h2>{{ item.title }}</h2></li>
						            	<li class="subdata" id="desc" ng-repeat="item in items" ng-hide="!newIndex($index)">{{ item.desc }}</li>
						            	<li class="subdata" id="tech" ng-repeat="item in items" ng-hide="!newIndex($index)">{{ item.tech }}</li>
						            	<li class="subdata subdata-link" ng-repeat="item in items" ng-hide="!newIndex($index)"><a href="{{ item.link }}" target="_blank"><button>Click to View</button></a></li>
						          	</ul>
						        </div>
						    </photo>
						</gallery>
				</div>
				<p id="intro_mobile">Marcus Eubanks - Front-End Developer/Designer</p>
			</div>
		</div>
		<div class="section">
			<div class="contentBack">
			    <h1>About ME</h1>
			    <p id="about_info">My goal is to find a front-end developer role working with web and mobile applications.</p>
			                    
			    <section class="row">
			    	<div class="col-xs-12 col-md-4 stats">
			    		<div class="stats-overlay">
			    			<ul>
				                <li>Word, Excel, PowerPoint, Visio</li>
				                <li>Illustrator, InDesign, Dreamweaver, PhotoShop, Fireworks</li>
				                <li>Eclipse IDE</li>
				                <li>Google Analytics</li>
				                <li>Sublime Text</li>
				                <li>SVN</li>
				                <li>Github/Git</li>
				                <li>WAMP</li>
			            	</ul>
			    		</div>
			    		<div class="stats-heading"><h2>Tools</h2></div>
			            <ul class="stats-ul">
			                <li>Word, Excel, PowerPoint, Visio</li>
			                <li>Illustrator, InDesign, Dreamweaver, PhotoShop, Fireworks</li>
			                <li>Eclipse IDE</li>
			                <li>Google Analytics</li>
			                <li>Sublime Text</li>
			                <li>SVN</li>
			                <li>Github/Git</li>
			                <li>WAMP</li>
			            </ul>
			        </div>
			        <div class="col-xs-12 col-md-4 stats">
			        	<div class="stats-overlay">
			        		<ul>
				                <li>HTML5/CSS3</li>
				                <li>JavaScript</li>
				                <!--<li>Java 8</li>-->
				                <li>SQL</li>
				                <li>SASS</li>
				                <li>JQuery</li>
				                <li>Bootstrap</li>
				                <li>Angular</li>
				                <li>Gulp</li>
				                <!--<li>Node.js</li>-->
				                <!--<li>MongoDB with Mongoose</li>-->
			            	</ul>
			        	</div>
			        	<div class="stats-heading"><h2>Technologies</h2></div>
			            <ul class="stats-ul">
			                <li>HTML5/CSS3</li>
			                <li>JavaScript</li>
			                <!--<li>Java 8</li>-->
			                <li>SQL</li>
			                <li>SASS</li>
			                <li>JQuery</li>
			                <li>Bootstrap</li>
			                <li>Angular</li>
			                <li>Gulp</li>
			                <!--<li>Node.js</li>-->
			                <!--<li>MongoDB with Mongoose</li>-->
			            </ul>
			        </div>
			        <div class="col-xs-12 col-md-4 stats">
			        	<div class="stats-overlay">
			        		<ul>
				                <li>Android</li>
				                <li>Swift</li>
				                <li>Java 8</li>
				                <li>Google App Engine</li>
			            	</ul>
			        	</div>
			        	<div class="stats-heading"><h2>In Progress</h2></div>
			            <ul class="stats-ul">
			                <li>Android</li>
			                <li>Swift</li>
			                <li>Java 8</li>
			                <li>Google App Engine</li>
			            </ul>
			        </div>
		    	</section>
		    </div>
		</div>
		<div class="section">
			<div class="contentBack">
				<h1>Contact</h1>
				<div class="containerContact">
					<div class="col-xs-12 col-md-4 containerContactColumn">
						<a href="#"><img id="emailIcon" src="build/img/email-512.png" alt="Send ME an email" /></a>
					</div>
					<div class="col-xs-12 col-md-4 containerContactColumn">
						<a href="https://github.com/mse2321"><img id="gitHub" src="build/img/github-512.png" alt="Check out my GitHub Repositories" /></a>
					</div>
					<div class="col-xs-12 col-md-4 containerContactColumn">
						<a href="http://www.linkedin.com/in/meinnovation"><img id="linkedIn" src="build/img/linkedIn-512.png" alt="Look at my LinkedIn Profile" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<p>&copy;2016 ME Innovation</p>
	</footer>
</body>
</html>